@import "bootstrap/scss/bootstrap.scss";


$theme-colors: (
  "gold": #D38F29,
  "red": #B32227,
  "dark":  #2d2b2b,
  "light": #eae4e4,
  "bg-light": #c2cad0
);

$navpadding: 10px;
$btn-border-sz: 3px;

.btn-gold{
  background-color: rgba(0, 0, 0, 0.0);
  color: theme-color("light");
  border: $btn-border-sz solid theme-color("gold");
  border-radius: 8px 8px;
  padding: $navpadding;
  font-size: 16px;
}

.btn-red{
  background-color: rgba(0, 0, 0, 0.0);
  color: theme-color("light");
  border: $btn-border-sz solid theme-color("red");
  border-radius: 8px 8px;
  padding: $navpadding;
  font-size: 16px;
}

.btn-inverse{
  background-color: rgba(0, 0, 0, 0.0);
  color: theme-color("dark");
  border: $btn-border-sz solid theme-color("dark");
  border-radius: 8px 8px;
  padding: $navpadding;
  font-size: 16px;
}

.btn-white{
  background-color: rgba(0, 0, 0, 0.0);
  color: theme-color("light");
  border: $btn-border-sz solid theme-color("light");
  border-radius: 8px 8px;
  padding: $navpadding;
  font-size: 16px;
}


.nav-bg{
  background-color: theme-color("bg-light");
  color: theme-color("dark");
}

.logo-sz{
  width: 90px;
  height: 90px;
}

.main{
  background-color: theme-color("light");
  color: theme-color("dark");
}

.list-item{
  padding-left: 6px;
  padding-right: 6px;
}

.brand{
  color: theme-color("light");
  background-color: theme-color("dark");
  font-size: 18px;
}

.item{
  background-color: rgba(0, 0, 0, 0);
  color: theme-color("dark");
}

.item-inactive{
  background-color: rgba(0, 0, 0, 0);
  color: theme-color("dark");
}

.item:hover{
  color: darken(theme-color("dark"), 25%);
  background-color: darken(theme-color("bg-light"), 10%);
}

.item:hover:after{
  transition-delay: 0.5s;
}

.theme-colors{
  background-color: theme-color("bg-light");
  color: theme-color("dark");
}

.theme-colors-inactive{
  background-color: theme-color("bg-light");
  color: theme-color("dark");
}

.theme-colors:hover{
  color: darken(theme-color("dark"), 25%);

}

.fa-gold{
  color: theme-color("gold");
}

.fa-red{
  color: theme-color("red");
}


.sidebar {
  background-color: theme-color("light");
  color: theme-color("dark");
  width: fit-content;
  height: auto;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.fb{
  color: #4267B2;
  font-size: 30px;
}

.insta{
  color: #C13584;
  font-size: 30px;
}

.email{
  color: #B23121;
  font-size: 30px;
}

.nav-bottom-border{
  border-bottom: black solid medium;
}

.form-field{
  padding: 10px;
  align-content: center;
  font-size: large;
}

.top-pad-100{
  padding-top: 100px;
}

