.lookup{

	input["text"]{
		border: solid 2px black;
		border-radius: 8px 8px;
		background-color: rgba(0,0,0,0);
		color: black;
		font-size: 16pt;
	}
	input["submit"]{
		border: solid 2px black;
		border-radius: 8px 8px;
		background-color: #0da324;
		color: white;
		font-size: 16pt;
		padding: 6px;
	}
}

.module{
	font-size: 16pt;
	a{
		padding: 4px;
		border: solid 2px black;
		border-radius: 8px 8px;
		background-color: #f5e8c6;
		color: black;
	}

	a:hover{
		background-color: #cfc3a5;
		color: white;
	}

	a:hover:after{
		transition-delay: 0.5s;
	}
}

.main{
	
	background-color: #F8F0C6;
	color: black;

	.fg{
		.red{
			color: #CE1126;
		}
		.blue{
			color: #0038A8;
		}
		.gold{
			color: #FCD116;
		}
	}

	.bg{
		.red{
			background-color: #CE1126;
		}
		.blue{
			background-color: #0038A8;
		}
		.gold{
			background-color: #FCD116;
		}
	}
}