env/
.idea/

FundRFID/api_endpoint/migrations/
FundRFID/forms/migrations/
FundRFID/home/migrations/
FundRFID/manager/migrations/

FundRFID/api_endpoint/__pycache__/
FundRFID/forms/__pycache__/
FundRFID/home/__pycache__/
FundRFID/manager/__pycache__/
FundRFID/FundRFID/__pycache__/
