asgiref==3.2.7
Django==3.0.5
django-appconf==1.0.4
django-compressor==2.4
django-libsass==0.8
djangorestframework==3.11.0
libsass==0.19.4
Pillow==7.1.2
pkg-resources==0.0.0
pytz==2019.3
rcssmin==1.0.6
rjsmin==1.1.0
six==1.14.0
sqlparse==0.3.1
