<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCNJ Barkada | {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/application.css">
    {% block head %}{% endblock %}
</head>

<body class="main">
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a href="/" class="title">TCNJ Barkada</a></li>
            <li><a href="fundrace/" class="border-yellow">FundRace</a></li>
            <li><a href="events/" class="border-blue">Calendar</a></li>
            <li><a href="about/" class="border-red">About</a></li>
            <li><a href="forms/" class="border-yellow">Forms</a></li>
            <li><a href="about/eboard/" class="border-blue">E-Board</a></li>
            {% if user.is_superuser %}
            <li><a href="admin/" class="border-red">Admin</a></li>
            {% endif %}
            {% block nav_left %}
            {% endblock %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="admin/">Login</a></li>
            {% block nav_right %}
            {% endblock %}
        </ul>
    </div>
</div>

{% block body %}
{% endblock %}

</body>
</html>



