<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCNJ AAA | {% block title %}{% endblock %}</title>
    {% load static %}
    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/_settings.scss' %}">
    {% endcompress %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4a76c527eb.js" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
</head>

<body class="main">
<nav class="navbar nav-bg nav-bottom-border navbar-expand-xl">
    <a class="navbar-brand theme-colors " href="{% url 'home' %}"><img src="{% static 'assets/logo.jpg' %}" class="img-fluid img-thumbnail logo-sz" alt="Asian American Association"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active list-item">
                <a class="nav-link btn-gold item" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item dropdown list-item">
                <a class="nav-link dropdown-toggle btn-red item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FundRace</a>
                <div class="dropdown-menu theme-colors" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item item" href="{% url 'register' %}">Register</a>
                    <a class="dropdown-item item" href="{% url 'lookup' %}">Check Score</a>
                </div>
            </li>
            <li class="nav-item list-item">
                <a class="nav-link btn-gold item" href="{% url 'events' %}">Events Calendar</a>
            </li>
            <li class="nav-item list-item">
                <a class="nav-link btn-red item" href="{% url 'forms-index' %}">Forms</a>
            </li>
            <li class="nav-item list-item">
                <a class="nav-link btn-gold item" href="{% url 'eboard' %}">E-Board</a>
            </li>

            {% if user.is_superuser %}
            <li class="nav-item list-item">
                <a class="nav-link btn-red item" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item list-item">
                <a class="nav-link btn-gold item" href="{% url 'logout' %}"><span class="fa-red fas fa-sign-out"></span> Logout</a>
            </li>
            {% endif %}
            {% block nav %}
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav mr-auto navbar-right">
            <li class="nav-item list-item"><a href="https://www.facebook.com/tcnjaaa/" class="item-inactive dropdown-item"><i class="fab fa-facebook fb"></i></a></li>
            <li class="nav-item list-item"><a href="https://instagram.com/tcnjaaa" class="item-inactive dropdown-item"><i class="fab fa-instagram-square insta"></i></a></li>
            <li class="nav-item list-item"><a href="mailto:aaa@tcnj.edu" class="item-inactive dropdown-item"><span class="fas fa-envelope email"></span></a></li>
            <li class="nav-item list-item">
                <a class="nav-link theme-colors" href="{% url 'admin:index' %}"> Staff Login</a>
            </li>
        </ul>
    </div>
</nav>






{% block body %}
{% endblock %}

</body>
</html>



