{% extends 'core/base.html' %}

{% block body %}

<h2>Please fill in the form below to register* for AAA's FundRace</h2>
<p>*Please remember to pay [PERSON] $[PRICE] by [DATE]</p>
<div class="container">
   <!--  <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn-success">
    </form>
    -->
    {% load crispy_forms_tags %}
    {% crispy form %}
</div>



{% endblock %}
<!-- TODO: Play with crispy forms try to get that working now that form validation fixed -->