{% extends 'core/base.html' %}

{% block body %}
{% load static %}
<div class="jumbotron theme-colors-inactive">
    <h1 class="display-4">TCNJ Barkada</h1>
    <hr class="my-4">
    <a class="btn btn-yellow btn-lg theme-colors" href="about/" role="button">About Us</a>
</div>
<div class="container">

    <div class="row">


        <div class="col-sm-auto">

        </div>
        <div class="col-md-auto">

        </div>
        <div class="col-sm-auto">

        </div>

    </div>
</div>
{% endblock %}